
.book {
  width: 430px;
  height: 560px;
  position: relative;
  perspective: 1500px;
}
.cover, .back-cover {
  position: absolute;
  inset: 0;
  background: #000;
  color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  transform-origin: left;
  cursor:pointer;
}
.book.open .cover { transform: rotateY(-180deg); }
.page {
  position:absolute;
  inset:10px;
  background:white;
  transform-origin:left;
  transform-style:preserve-3d;
  transition:transform 1s;
}
.page.flipped { transform: rotateY(-180deg); }
.front-page, .back-page {
  position:absolute;
  inset:0;
  backface-visibility:hidden;
}
.back-page { transform: rotateY(180deg); }
.page-editor {
  padding: 2.5rem 1.5rem;
  min-height:100%;
  outline:none;
  white-space:pre-wrap;
}
.nav {
  position:absolute;
  bottom:10px;
}
.next { right:10px; }
.prev { left:10px; }
